In [1]:
# importing libraries
import glob
import os
import pandas as pd

In [25]:
# importing the data
data_folder_path = f"F:\SkillUp TechMaster 2024-25\TechMaster DP-100\DP100-project\ojsalesdata\https%3A\%2Fazureopendatastorage.azurefd.net\ojsales-simulatedcontainer\oj_sales_data"

store = 4128

csv_filesfor4128 = glob.glob(os.path.join(data_folder_path,"**",f"*{store}*.csv"), recursive=True)

for csv_file_path in csv_filesfor4128:
    print(csv_file_path)

F:\SkillUp TechMaster 2024-25\TechMaster DP-100\DP100-project\ojsalesdata\https%3A\%2Fazureopendatastorage.azurefd.net\ojsales-simulatedcontainer\oj_sales_data\Store4128_dominicks.csv
F:\SkillUp TechMaster 2024-25\TechMaster DP-100\DP100-project\ojsalesdata\https%3A\%2Fazureopendatastorage.azurefd.net\ojsales-simulatedcontainer\oj_sales_data\Store4128_minute.maid.csv
F:\SkillUp TechMaster 2024-25\TechMaster DP-100\DP100-project\ojsalesdata\https%3A\%2Fazureopendatastorage.azurefd.net\ojsales-simulatedcontainer\oj_sales_data\Store4128_tropicana.csv

In [28]:
dominicks_4128_df = pd.read_csv(csv_filesfor4128[0])
minutemaid_4128_df = pd.read_csv(csv_filesfor4128[1])
tropicana_4128_df = pd.read_csv(csv_filesfor4128[1])

In [29]:
dominicks_4128_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WeekStarting  121 non-null    object
 1   Store         121 non-null    int64
 2   Brand         121 non-null    object
 3   Quantity      121 non-null    int64
 4   Advert        121 non-null    int64
 5   Price         121 non-null    float64
 6   Revenue       121 non-null    float64
dtypes: float64(2), int64(3), object(2)
memory usage: 6.7+ KB

In [30]:
minutemaid_4128_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WeekStarting  121 non-null    object
 1   Store         121 non-null    int64
 2   Brand         121 non-null    object
 3   Quantity      121 non-null    int64
 4   Advert        121 non-null    int64
 5   Price         121 non-null    float64
 6   Revenue       121 non-null    float64
dtypes: float64(2), int64(3), object(2)
memory usage: 6.7+ KB

In [31]:
tropicana_4128_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WeekStarting  121 non-null    object
 1   Store         121 non-null    int64
 2   Brand         121 non-null    object
 3   Quantity      121 non-null    int64
 4   Advert        121 non-null    int64
 5   Price         121 non-null    float64
 6   Revenue       121 non-null    float64
dtypes: float64(2), int64(3), object(2)
memory usage: 6.7+ KB

In [33]:
weekDate = dominicks_4128_df["WeekStarting"].copy()

dominicks_qty = dominicks_4128_df["Quantity"].copy()
minute_maid_qty = minutemaid_4128_df["Quantity"].copy()
tropicana_qty = tropicana_4128_df["Quantity"].copy()

dominicks_ad = dominicks_4128_df["Advert"].copy()
minute_maid_ad = minutemaid_4128_df["Advert"].copy()
tropicana_ad = tropicana_4128_df["Advert"].copy()

dominicks_price = dominicks_4128_df["Price"].copy()
minute_maid_price = minutemaid_4128_df["Price"].copy()
tropicana_price = tropicana_4128_df["Price"].copy()

dominicks_revenue = dominicks_4128_df["Revenue"].copy()
minute_maid_revenue = minutemaid_4128_df["Revenue"].copy()
tropicana_revenue = tropicana_4128_df["Revenue"].copy()

combined_dict = {
    "WeekStarting":weekDate,
    "dom_qty":dominicks_qty,
    "mm_qty":minute_maid_qty,
    "trp_qty":tropicana_qty,
    "dom_ad":dominicks_ad,
    "mm_ad":minute_maid_ad,
    "trp_ad":tropicana_ad,
    "dom_price":dominicks_price,
    "mm_price":minute_maid_price,
    "trp_price":tropicana_price,
    "dom_rev":dominicks_revenue,
    "mm_rev":minute_maid_revenue,
    "trp_rev":tropicana_revenue,
}

oj_4128 = pd.DataFrame(combined_dict)

In [37]:
oj_4128["WeekStarting"] = pd.to_datetime(oj_4128["WeekStarting"])
oj_4128 = oj_4128.sort_values("WeekStarting")

In [34]:
oj_4128.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WeekStarting  121 non-null    object
 1   dom_qty       121 non-null    int64
 2   mm_qty        121 non-null    int64
 3   trp_qty       121 non-null    int64
 4   dom_ad        121 non-null    int64
 5   mm_ad         121 non-null    int64
 6   trp_ad        121 non-null    int64
 7   dom_price     121 non-null    float64
 8   mm_price      121 non-null    float64
 9   trp_price     121 non-null    float64
 10  dom_rev       121 non-null    float64
 11  mm_rev        121 non-null    float64
 12  trp_rev       121 non-null    float64
dtypes: float64(6), int64(6), object(1)
memory usage: 12.4+ KB

In [38]:
print(oj_4128.head(5))

  WeekStarting  dom_qty  mm_qty  trp_qty  dom_ad  mm_ad  trp_ad  dom_price  \
0   1990-06-14    18800   11269    11269       1      1       1       2.62
1   1990-06-21    19493   10512    10512       1      1       1       2.49
2   1990-06-28    13994   14028    14028       1      1       1       2.06
3   1990-07-05    19658   10129    10129       1      1       1       2.57
4   1990-07-12    19767   17728    17728       1      1       1       2.08

   mm_price  trp_price   dom_rev    mm_rev   trp_rev
0      2.51       2.51  49256.00  28285.19  28285.19
1      1.91       1.91  48537.57  20077.92  20077.92
2      2.55       2.55  28827.64  35771.40  35771.40
3      2.11       2.11  50521.06  21372.19  21372.19
4      1.94       1.94  41115.36  34392.32  34392.32

In [39]:
# Define the columns you want to create lag features for
columns_to_lag = [
    'dom_qty', 'mm_qty', 'trp_qty',
    'dom_price', 'mm_price', 'trp_price',
    'dom_rev', 'mm_rev', 'trp_rev'
]

# Define the number of lag periods you want (e.g., 1 week, 2 weeks, 3 weeks)
lag_periods = [1, 2, 3] # You can adjust this list as needed

# Create lagged features
for col in columns_to_lag:
    for lag in lag_periods:
        # Create a new column name, e.g., 'dom_qty_lag_1'
        new_col_name = f"{col}_lag_{lag}"
        oj_4128[new_col_name] = oj_4128[col].shift(periods=lag)

print("\nDataFrame with new lag features (first few rows will have NaN for lagged data):")
print(oj_4128.head())

# To see the last few rows where lag data will be populated
print("\nDataFrame with new lag features (last few rows to show populated lags):")
print(oj_4128.tail())

DataFrame with new lag features (first few rows will have NaN for lagged data):
  WeekStarting  dom_qty  mm_qty  trp_qty  dom_ad  mm_ad  trp_ad  dom_price  \
0   1990-06-14    18800   11269    11269       1      1       1       2.62
1   1990-06-21    19493   10512    10512       1      1       1       2.49
2   1990-06-28    13994   14028    14028       1      1       1       2.06
3   1990-07-05    19658   10129    10129       1      1       1       2.57
4   1990-07-12    19767   17728    17728       1      1       1       2.08

   mm_price  trp_price  ...  trp_price_lag_3  dom_rev_lag_1  dom_rev_lag_2  \
0      2.51       2.51  ...              NaN            NaN            NaN
1      1.91       1.91  ...              NaN       49256.00            NaN
2      2.55       2.55  ...              NaN       48537.57       49256.00
3      2.11       2.11  ...             2.51       28827.64       48537.57
4      1.94       1.94  ...             1.91       50521.06       28827.64

   dom_rev_lag_3  mm_rev_lag_1  mm_rev_lag_2  mm_rev_lag_3  trp_rev_lag_1  \
0            NaN           NaN           NaN           NaN            NaN
1            NaN      28285.19           NaN           NaN       28285.19
2            NaN      20077.92      28285.19           NaN       20077.92
3       49256.00      35771.40      20077.92      28285.19       35771.40
4       48537.57      21372.19      35771.40      20077.92       21372.19

   trp_rev_lag_2  trp_rev_lag_3
0            NaN            NaN
1            NaN            NaN
2       28285.19            NaN
3       20077.92       28285.19
4       35771.40       20077.92

[5 rows x 40 columns]

DataFrame with new lag features (last few rows to show populated lags):
    WeekStarting  dom_qty  mm_qty  trp_qty  dom_ad  mm_ad  trp_ad  dom_price  \
116   1992-09-03    15526   17191    17191       1      1       1       2.43
117   1992-09-10    13112   16884    16884       1      1       1       2.50
118   1992-09-17    17214   16204    16204       1      1       1       2.10
119   1992-09-24    11032   13633    13633       1      1       1       2.02
120   1992-10-01     9164   19680    19680       1      1       1       1.98

     mm_price  trp_price  ...  trp_price_lag_3  dom_rev_lag_1  dom_rev_lag_2  \
116      2.08       2.08  ...             1.95       31023.81       23177.00
117      1.96       1.96  ...             2.42       37728.18       31023.81
118      2.46       2.46  ...             1.92       32780.00       37728.18
119      1.97       1.97  ...             2.08       36149.40       32780.00
120      2.43       2.43  ...             1.96       22284.64       36149.40

     dom_rev_lag_3  mm_rev_lag_1  mm_rev_lag_2  mm_rev_lag_3  trp_rev_lag_1  \
116       50506.35      21281.28      44784.52      23715.90       21281.28
117       23177.00      35757.28      21281.28      44784.52       35757.28
118       31023.81      33092.64      35757.28      21281.28       33092.64
119       37728.18      39861.84      33092.64      35757.28       39861.84
120       32780.00      26857.01      39861.84      33092.64       26857.01

     trp_rev_lag_2  trp_rev_lag_3
116       44784.52       23715.90
117       21281.28       44784.52
118       35757.28       21281.28
119       33092.64       35757.28
120       39861.84       33092.64

[5 rows x 40 columns]

In [40]:
oj_4128.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121 entries, 0 to 120
Data columns (total 40 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   WeekStarting     121 non-null    datetime64[ns]
 1   dom_qty          121 non-null    int64
 2   mm_qty           121 non-null    int64
 3   trp_qty          121 non-null    int64
 4   dom_ad           121 non-null    int64
 5   mm_ad            121 non-null    int64
 6   trp_ad           121 non-null    int64
 7   dom_price        121 non-null    float64
 8   mm_price         121 non-null    float64
 9   trp_price        121 non-null    float64
 10  dom_rev          121 non-null    float64
 11  mm_rev           121 non-null    float64
 12  trp_rev          121 non-null    float64
 13  dom_qty_lag_1    120 non-null    float64
 14  dom_qty_lag_2    119 non-null    float64
 15  dom_qty_lag_3    118 non-null    float64
 16  mm_qty_lag_1     120 non-null    float64
 17  mm_qty_lag_2     119 non-null    float64
 18  mm_qty_lag_3     118 non-null    float64
 19  trp_qty_lag_1    120 non-null    float64
 20  trp_qty_lag_2    119 non-null    float64
 21  trp_qty_lag_3    118 non-null    float64
 22  dom_price_lag_1  120 non-null    float64
 23  dom_price_lag_2  119 non-null    float64
 24  dom_price_lag_3  118 non-null    float64
 25  mm_price_lag_1   120 non-null    float64
 26  mm_price_lag_2   119 non-null    float64
 27  mm_price_lag_3   118 non-null    float64
 28  trp_price_lag_1  120 non-null    float64
 29  trp_price_lag_2  119 non-null    float64
 30  trp_price_lag_3  118 non-null    float64
 31  dom_rev_lag_1    120 non-null    float64
 32  dom_rev_lag_2    119 non-null    float64
 33  dom_rev_lag_3    118 non-null    float64
 34  mm_rev_lag_1     120 non-null    float64
 35  mm_rev_lag_2     119 non-null    float64
 36  mm_rev_lag_3     118 non-null    float64
 37  trp_rev_lag_1    120 non-null    float64
 38  trp_rev_lag_2    119 non-null    float64
 39  trp_rev_lag_3    118 non-null    float64
dtypes: datetime64[ns](1), float64(33), int64(6)
memory usage: 38.8 KB

In [41]:
oj_4128.to_csv("../data/store4128combined.csv")